@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Baskerville', sans-serif;
    font-weight: 400;
    color: #FE6B00;
    background-color: #000;
}

/* headings and logo */

h1, h2 {
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FE6B00;
    padding: 20px;
}

#safari-logo {
    float: left;
    font-size: 300%;
    margin:left;
}

/* Desktop view */
/* Wrapper */
#menu-nav {
    width: 100%;
    background: #000;
}

/* Horizontal menu items */
#menu-items {
    display: flex;
}

#menu-items a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 12px;
    color: #FE6B00;
    text-align: center;
    text-decoration: none;
}

#menu-items a:hover {
    background: #FE6B00;
    border-bottom:1px solid rgb(72, 72, 72);
}

/* Close menu */

#menu-nav label, #menu {
    display: none;
}

/* Mobile view */

@media screen and (max-width: 768px){
/* Vertical Menu */
    #menu-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 2px solid #333; 
}

/* Show menu icon */
    #menu-nav label {
        display: inline-block;
        color: white; 
        background: rgb(72, 72, 72);
        font-style: normal; 
        font-size: 1.3rem;
        padding: 9px;
}

/* Hide or Close Menu */
    #menu-items {
        display: none;
    }

    #menu-nav input:checked ~ #menu-items {
        display: block;
    }
}








