@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Baskerville', sans-serif;
    font-weight: 400;
    color: #FE6B00;
    background-color: #000;
    margin: 0;
}

/* headings and logo ideas from CI */

h1, h2 {
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: #FE6B00;
    padding: 20px;
}

#safari-logo {
    float: left;
    font-size: 300%;
    margin:left;
}

/* Credits to https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/, CI or use https://code-boxx.com/simple-css-drop-down-menu/ to edit */
/* Desktop view */
/* Wrapper */
#menu-nav {
    width: 100%;
    background: #000;
}

#menu-items, #safari-logo {
    line-height: 75px;
}

/* Horizontal menu items */
#menu-items {
    display: flex;
    font-size: 110%;
    letter-spacing: 3.5px;
}

#menu-items li {
    float: right;
    list-style-type: none;
    margin-right: 28px;
}

#menu-items a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#menu-items a:hover {
    border-bottom: 1.5px solid #FE6B00;
    color: #FE6B00;
}

.active {
    border-bottom: 1.5px solid #FE6B00;
}

/* Close menu */

#menu-nav label, #menu {
    display: none;
}

/* Mobile view */

@media screen and (max-width: 768px){
/* Vertical Menu */
    #menu-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 2px solid #333; 
}

/* Show menu icon */
    #menu-nav label {
        display: inline-block;
        color: white; 
        background: rgb(72, 72, 72);
        font-style: normal; 
        font-size: 1.3rem;
        padding: 9px;
}

/* Hide or Close Menu */
    #menu-items {
        display: none;
    }

    #menu-nav input:checked ~ #menu-items {
        display: block;
    }
}

/* Hero images section of homepage, help from https://www.w3schools.com/howto/howto_css_images_side_by_side.asp and
 https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */

 body, html {
    height: 100%;
 }

 .hero-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../images/lion_3.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .hero-about-caption {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    color: white;
    transform: translate(-50%, -50%);
 }

 .hero-about-caption h1 {
    font-size: 500%;
 }

 .hero-about-caption p {
    font-size: 300%;
 }

 /* intro section */

#intro {
    text-align: center;
    padding: 50px;
    background: #111;
    float: center;
    border: 2px solid #FE6B00;
    border-radius: 4px;
    margin: 20px;
 }

/* Accommodation section of homepage */
h2 {
    text-transform: uppercase;
    color: #FE6B00;
    text-align: center;
}
h3 {
    text-transform: uppercase;
    color: #ef9a5b;
    text-align: center;
}

p {
    font-family: Baskerville, sans-serif;
    color: white;
    margin: 20px;
    padding: 10px;
}

/* reasons section ideas from CI */

#reasons-section {
    height: 600px;
}

#left-reasons {
    padding-top: 30px;
    width: 33.333333%;
    float: left;
}

#right-reasons {
    padding-top: 30px;
    width: 33.333333%;
    float: right; 
}

#center-reasons {
    width: 33.333333%;
    margin: 0 auto;
}

hr {
    border-top: 2px solid #FE6B00;
    width: 100%;
    margin: 5px 0;
}

.left-reasons-heading {
    width: 65%;
    float: right;
    line-height: 22px;
    clear: both;
    margin-bottom: 45px;
}

.left-reasons-heading > h2 {
    color: #ef9a5b;
}

.right-reasons-heading {
    width: 65%;
    float: left;
    line-height: 22px;
    clear: both;
    margin-bottom: 45px;
}

.right-reasons-heading > h2 {
    color: #ef9a5b;
}

#main-reasons-heading {
    margin: 25px 0;
    text-align: center;
    font-size: 300%;
}

.find-out-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
}

/* Form section on each page ideas from https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Ideas from https://www.w3schools.com/howto/howto_css_inline_form.asp */

/* Display items in form horizontally */

#form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 50%;
    border: 2px solid #FE6B00;
    border-radius: 6px;
    background: #111;
    padding: 20px;
}

.inline-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.inline-form label {
    margin: 6px 12px 6px 0;
}

.inline-form input {
    vertical-align: middle;
    margin: 6px 12px 6px 0;
    padding: 10px;
    background-color: #fff;
    border-left: 2px solid #FE6B00;
    border-radius: 6px;
    font-family: Baskerville, sans-serif;
}

.inline-form select {
    color:rgb(72, 72, 72);
}

.inline-form select, .inline-form textarea {
    font-family: Baskerville, sans-serif;
}

.inline-form button {
    padding: 10px 20px;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
}

.inline-form button:hover {
    background-color: #04AA6D;
}

/* Adding responsiveness */

@media (max-width: 800px) {
    .inline-form input {
        margin: 10px 0;
    }

    .inline-form {
        flex-direction: column;
        align-items: stretch;
    }
}

/* footer section help from https://foolishdeveloper.com/simple-responsive-footer-design-using-html-and-css/ */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #111;
    height: 200px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.footer-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FE6B00;
}

.footer-content h3 {
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 3rem;
    color: #FE6B00;
}

.contact {
    list-style-type: none;
    color: white;
    max-width: 500px;
    margin: 12px auto;
    line-height: 30px;
    font-size: 150%;
    font-weight: 400;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0 3rem 0;
}

.social-links li {
    margin: 0 30px;
    display: inline;
}

.social-links i {
    font-size: 200%;
    margin: 2%;
    padding: 5%;
    color: #ef9a5b;
}

.social-links i:hover {
    color: white;
}

.copyright-content p {
    color: white;
    float: center;
    font-size: 15px;
    text-transform: capitalize;
}

/* Accommodation page help from https://www.heapcoding.com/how-to-put-image-and-text-side-by-side-in-html/ */

#room-intro {
    text-align: center;
    padding: 50px;
    background: #111;
    float: center;
    border: 2px solid #FE6B00;
    border-radius: 4px;
    margin: 20px;
 }

#rooms-section {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right; 
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

#circular-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 1px solid #ef9a5b;
    border-radius: 50%;
    margin: 0 auto;

}

#luxury-cover-background {
    background: url('../images/luxury.jpg') no-repeat center center;
    height: 300px;
    border-radius: 50%;
}

#lodge-cover-background {
    background: url('../images/lodge.jpg') no-repeat center center;
    height: 300px;
    border-radius: 50%;
}

#tent-cover-background {
    background: url('../images/tent.jpg') no-repeat center center;
    height: 300px;
    border-radius: 50%;
}

.left-about-heading {
    width: 60%;
    float: center;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 100px;
}

.right-about-heading {
    width: 60%;
    float: center;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 100px;
}

.center-about-heading {
    width: 60%;
    float: center;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 100px;
}
















